<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.media4care.twilio.video.capacitortwiliovideo">

    <application>
        <activity
            android:keepScreenOn="true"
            android:showWhenLocked="true"
            android:name="com.media4care.twilio.video.TwilioVideoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>